.game-title {
	height:140px;
	text-align: center;
	font-family: ;
}

.short {
	height:145px;
}

.tall {
	height:400px;
}

.btn {
	width:100%;
}

.alpha {
	font-size: 20px;
	font-style: bolder;
	height:50px;
	text-align: center;
}